.quotes-grid {
  display: grid;
  grid-template-columns: 1fr;
}
@media(min-width: 768px) {
  .quotes-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width: 1025px) {
  .quotes-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}